.button {
    padding: 4px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    border-radius: 6px;
    

    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    transition: all 0.4s;
  }
  .button:hover{
    background-color: aliceblue;
    color: black;
  }


  
  @media (min-width: 768px) {
    .button {
      font-size: 14px;
      
    }
  }